<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semicolonapp">
    <!-- 권한 지정 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:usesCleartextTraffic="true">
        <activity android:name=".AsksmsActivity"></activity>
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".splash1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmsActivity" />
        <activity android:name=".splash2" />
        <activity android:name=".splash3" />
        <activity android:name=".ReportDetailActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ReportActivity" /> <!-- Maps sdk for android api 키 설정 -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyAs-USie-nVZ7o37UrOpxd18MAUcwLqa2c" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.kakao.sdk.AppKey" -->
        <!-- android:value="feefb8e4372ffe114b0f7aa28978b946" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.kakao.sdk.kakaonavi.useWebView" -->
        <!-- android:value="false" /> -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".MapActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ServiceAreaInfoActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".SplashActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAs-USie-nVZ7o37UrOpxd18MAUcwLqa2c" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="feefb8e4372ffe114b0f7aa28978b946" />
        <meta-data
            android:name="com.kakao.sdk.kakaonavi.useWebView"
            android:value="false" />
    </application>

</manifest>